@charset "UTF-8";

.container {
  margin-top: 104px;
  min-height: 635px;
}

table > thead > tr > th {
  text-align: center;
}

table > tbody tr > td {
  text-align: center;
}
/* 글제목 정렬 : left */
table > tbody tr > td:nth-child(2) {
  text-align: left;
}
